 
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
   
    body {
        background-color: #c0ded3;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .slider {
        width: 800px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
    }

    .slides {
        width: 500%;
        height: 500px;
        display: flex;
    }

    .slides input {
        display: none;
    }

    .slide{
        width: 20%;
        transition: 2s;
    }

    .slide img{
        width: 800px;
        height: 500px;
    }

    .navigation-manual {
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn{
        border: 2px solid #B19FF9;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child){
        margin-right: 40px;
    }

    .manual-btn:hover{
        background: #B19FF9;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -20%;
    }

    /* #radio3:checked ~ .first{
        margin-left: -40%;
    }

    #radio4:checked ~ .first{
        margin-left: -60%;
    } */

    li, a {
        font-family: fantasy;
        font-weight: 500;
        font-size: 16px;
        color: azure;
        text-decoration: none;
    }


   .mode {
        display: flex;
        padding: 115% 0% 0% 0%;
        position: flex;
    }
    .change {
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 90%;
        /* padding: 15px;
        margin-left: 8px; */
    }
    .dark{
        background-color: #3f3f3f;
        color: #ffffe0;
    }

    .github-logo{
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 90%;
        /* padding: 15px;
        margin-left: 120px; */
    }

    .linkedIn-logo {
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 90%;
        /* padding: 15px;
        margin-left: 950px; */
    }

    #home img {
        border-radius: 50%;
        width: 15%;
        height:auto;
        display: block;
        margin-left: 42%;
        border: 5px solid #B19FF9;
      }

     #bio p {
        text-align: center;
        border: 2px solid #B19FF9;
        border-radius: 5px;
        margin: auto;
        width: 50%;
        padding: 10px;
      }

      .navButtons {
        display: flex;
        text-decoration: none;
      }

      .buttons {
        display: flex;
        color: #B19FF9;
        outline: 2px solid #ffffe0;
      }

      #hobbies h2, p {
        text-align: center;
        border: 2px solid #B19FF9;
        border-radius: 5px;
        margin: auto;
        width: 50%;
        padding: 10px;
      }